<!--Card group-->
<div class="card-deck">
    <!--Card-->
    <div class="card mb-4">
        <!--Card image-->
        <div class="view overlay zoom">
            <img class="img-fluid" src="~/Content/img/pending.png" alt="My Pending">
            <a href="@Url.Action("Pending", "Processes")">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>
        <!--Card image-->
        <!--Card content-->
        <div class="card-body">
            <!--Title-->
            <h4 class="card-title">Pending</h4>
        </div>
        <!--Card content-->
    </div>
    <!--Card-->
    <!--Card-->
    <div class="card mb-4">
        <!--Card image-->
        <div class="view overlay zoom">
            <img class="img-fluid" src="~/Content/img/current.png" alt="On-going">
            <a href="@Url.Action("InProgress", "Processes")">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>
        <!--Card image-->
        <!--Card content-->
        <div class="card-body">
            <!--Title-->
            <h4 class="card-title">In progress</h4>
        </div>
        <!--Card content-->
    </div>
    <!--Card-->
    <!--Card-->
    <div class="card mb-4">
        <!--Card image-->
        <div class="view overlay zoom">
            <img class="img-fluid" src="~/Content/img/archive.png" alt="Closed">
            <a href="@Url.Action("Closed", "Processes")">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>
        <!--Card image-->
        <!--Card content-->
        <div class="card-body">
            <!--Title-->
            <h4 class="card-title">Archive</h4>
        </div>
        <!--Card content-->
    </div>
    <!--Card-->
</div>
<!--Card group-->

