<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light white fixed-top">
    <div class="container">
        <!-- Navbar brand -->
        <a href="@Url.Action("Index", "Home")" class="navbar-brand">
            
            <img src="~/Content/img/oas-logo-sm.gif" height="70" class="d-inline-block align-top" alt="">
            <div class="navbar-text blue-grey-text d-inline-flex" style="font-size:2rem; font-family:'Arial Narrow'">
                <span class="green-text font-weight-bold">
                    e
                </span>
                Vote
                <span class="d-none d-sm-block">
                    | Sistema de votacion electronica
                </span>
            </div>
            
            
        </a>
        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#eVoteNav" aria-controls="eVoteNav"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse flex-column" id="eVoteNav">
            <!-- Search -->
            @*<form class="form-inline">
                    <div class="md-form mt-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                        <i class="fa fa-search"></i>
                    </div>
                </form>*@
            <!-- Links -->
            <ul class="navbar-nav ml-auto">
                <!-- Dropdown Profile -->
                @*<li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i>Profile</a>
                        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                            @Html.Partial("_LoginPartial")
                        </div>
                    </li>*@

                @*<li class="nav-item amber-text"><small>English</small> &nbsp; </li>
                    <li class="nav-item text-muted"><small>Español</small> &nbsp; </li>
                    <li class="nav-item text-muted"><small>Português</small> &nbsp; </li>
                    <li class="nav-item text-muted"><small>Français</small> &nbsp; </li>*@

                @*<i class="fa fa-user"></i>*@

                <li class="nav-item"><a href="@Url.Action("Index", "Profile")" class="nav-link text-muted"><small class="mt-1">Bienvenido, Comisionado A &nbsp; &nbsp;</small><img src="~/Content/img/comm1.png" class="rounded-circle border" style="width: 1.5rem;"></a></li>
                <li class="nav-item"><a class="nav-link text-muted mt-1"><i class="fa fa-bell"></i><span class="badge badge-danger badge-pill" style="margin-left:-10px;">3</span></a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-muted mt-1" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-globe"></i> ES</a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a href="#">English</a><br />
                        <a href="#">Español</a><br />
                        <a href="#">Português</a><br />
                        <a href="#">Français</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav flex-row ml-auto">
                <li class="nav-item">

                    <!-- Search form -->
                    @*<form class="form-inline md-form form-sm" role="form"> form-horizontal
                            <i class="fa fa-search" aria-hidden="true"></i>
                            <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search">
                            <div class="input-group-btn" style="position:unset">
                                <div class="btn-group" role="group" style="position:unset">
                                    <div class="dropdown dropdown-lg">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-search amber-text"></i></button>
                                        <div class="dropdown-menu dropdown-menu-right" role="menu">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label for="ddbCategories">Category</label>
                                                                <select class="form-control" id="ddbCategories">
                                                                    <option value="0">Select category...</option>
                                                                    <option value="1">1</option>
                                                                    <option value="2">2</option>
                                                                    <option value="3">3</option>
                                                                    <option value="4">4</option>
                                                                    <option value="5">5</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <label for="ddbSubject">Subject</label>
                                                            <select class="form-control" id="ddbSubject">
                                                                <option value="0">Select subject...</option>
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">

                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">

                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">

                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">

                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="form-group">
                                                    <label for="contain">Author</label>
                                                    <input class="form-control" type="text" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="contain">Contains the words</label>
                                                    <input class="form-control" type="text" />
                                                </div>
                                                /*<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>*/
                                        </div>
                                    </div>
                                    /*<button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>*/
                                </div>
                            </div>
                        </form>*@
                    <!-- Search form -->
                    <form class="form-inline md-form form-sm">
                        <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Buscar" aria-label="Buscar" style="width:100%;">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </form>
                </li>
            </ul>
        </div>
        <!-- Collapsible content -->
    </div>
</nav>
<!--/.Navbar-->
