<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light white">
    <div class="container">
        <!-- Navbar brand -->
        <a href="@Url.Action("Index", "Home")" class="navbar-brand">
            <img src="~/Content/img/oas-logo-en.gif" height="70" class="d-inline-block align-top" alt="">
        </a>
        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#eVoteNav" aria-controls="eVoteNav"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse flex-column" id="eVoteNav">
            <!-- Search -->
            @*<form class="form-inline">
                <div class="md-form mt-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <i class="fa fa-search"></i>
                </div>
            </form>*@
            <!-- Links -->
            <ul class="navbar-nav ml-auto">
                <!-- Dropdown Profile -->
                @*<li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i>Profile</a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    @Html.Partial("_LoginPartial")
                </div>
            </li>*@
                
                @*<li class="nav-item amber-text"><small>English</small> &nbsp; </li>
                <li class="nav-item text-muted"><small>Español</small> &nbsp; </li>
                <li class="nav-item text-muted"><small>Português</small> &nbsp; </li>
                <li class="nav-item text-muted"><small>Français</small> &nbsp; </li>*@
                <li class="nav-item"><a href="@Url.Action("Notifications", "Home")" class="nav-link text-muted"><i class="fa fa-bell"></i></a></li>
                <li class="nav-item"><a href="@Url.Action("Profile", "Home")" class="nav-link text-muted"><i class="fa fa-user"></i></a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-muted" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-globe"></i> EN</a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a href="#">English</a><br />
                        <a href="#">Español</a><br />
                        <a href="#">Português</a><br />
                        <a href="#">Français</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav flex-row ml-auto">
                <li class="nav-item">
                    @*<form class="form-inline">*@
                        @*<div class="md-form form-lg mt-0">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                            <i class="fa fa-search amber-text"></i>
                        </div>*@
                        <div class="input-group" id="adv-search">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search..." aria-label="Search">
                            <div class="input-group-btn" style="position:unset">
                                <div class="btn-group" role="group" style="position:unset">
                                    <div class="dropdown dropdown-lg">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-search amber-text"></i></button>
                                        <div class="dropdown-menu dropdown-menu-right" role="menu">
                                            <form class="form-horizontal" role="form">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label for="ddbCategories">Category</label>
                                                                <select class="form-control" id="ddbCategories">
                                                                    <option value="0">Select category...</option>
                                                                    <option value="1">1</option>
                                                                    <option value="2">2</option>
                                                                    <option value="3">3</option>
                                                                    <option value="4">4</option>
                                                                    <option value="5">5</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <label for="ddbSubject">Subject</label>
                                                            <select class="form-control" id="ddbSubject">
                                                                <option value="0">Select subject...</option>
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">

                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">

                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">

                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">

                                                        </div>
                                                    </div>
                                                </div>
                                                    
                                                    
                                                <div class="form-group">
                                                    <label for="contain">Author</label>
                                                    <input class="form-control" type="text" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="contain">Contains the words</label>
                                                    <input class="form-control" type="text" />
                                                </div>
                                                @*<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>*@
                                            </form>
                                        </div>
                                    </div>
                                    @*<button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>*@
                                </div>
                            </div>
                        </div>
                    @*</form>*@
                </li>
            </ul>
        </div>
        <!-- Collapsible content -->
    </div>
</nav>
<!--/.Navbar-->