<div class="jumbotron jumbotron-fluid p-0">
    <div class="card card-image" > @*style="background-image: url(../../Content/img/header-gral-en.png);"*@
        <div class="container">
            <h1 class="card-title pt-5 mb-2 font-bold"><strong>IACHR eVote System</strong></h1> @*flex-center*@
            <p class="lead">Welcome, Commissioner 1</p> @*pull-right*@
        </div>
    </div>
</div>
