<div class="row">
    <div class="col">
        <div class="float-right">
            Welcome, Commissioner 1
            <img src="~/Content/img/comm1.png" class="circle img-thumbnail" />
        </div>
    </div>
</div>

