<div class="row">
    <div class="col">
        <div class="pull-right py-2">
            <strong><small> Welcome, Commisioner A </small></strong>
            <img alt="commissioner" src="~/Content/img/comm1.png" class="img-thumbnail rounded-circle" style="max-width:50px;" />
        </div>
    </div>
</div>




