
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        CIDH Login<br /><br />
        <input id="txtUsername" type="text" placeholder="Username" /><br/>
        <input id="txtPassword" type="password" placeholder="Password" /><br /><br />
        <input id="btnSubmit" type="submit" value="Submit" />
    </div>
</body>
</html>
