.body-content {
    padding-top:15px;
}

/* Card action button  */
.btn-floating span {
    display: inline-block;
    width: inherit;
    text-align: center;
    color: #fff;
}

.btn-floating span {
    font-size: 1.25rem;
    line-height: 47px;
}
/* Card action button  */