
@{
    ViewBag.Title = "Docs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="tab-content">
        <div role="tabpanel">

            <h1 class="card-title pt-5 font-bold"><strong>Documentos</strong></h1>

            <div class="row">
                <div class="col">
                    <div class="white z-depth-2 mb-4">

                        <div class="list-group">
                            <a href="#" class="list-group-item active disabled">
                                Documento principal
                            </a>
                            <a href="#" class="list-group-item list-group-item-action waves-effect"><i class="fa fa-file-text-o" aria-hidden="true"></i> &nbsp; Dapibus ac facilisis in</a>
                        </div>

                    </div>
                </div>
                <div class="col">
                    <div class="white z-depth-2 mb-4">

                        <div class="list-group">
                            <a href="#" class="list-group-item active disabled">
                                Documentos de apoyo
                            </a>
                            <a href="#" class="list-group-item list-group-item-action waves-effect"><i class="fa fa-file-text-o" aria-hidden="true"></i> &nbsp; Morbi leo risus</a>
                            <a href="#" class="list-group-item list-group-item-action waves-effect"><i class="fa fa-file-text-o" aria-hidden="true"></i> &nbsp; Porta ac consectetur ac</a>
                            <a href="#" class="list-group-item list-group-item-action waves-effect"><i class="fa fa-file-text-o" aria-hidden="true"></i> &nbsp; Vestibulum at eros</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

