@model org.oas.cidh.eVote.Models.VoteProcess

@{
    ViewBag.Title = "Vote";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Nav tabs -->
<ul class="nav nav-tabs nav-justified  light-blue darken-3 mx-0" role="tablist">
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index", "Processes")"><i class="fa fa-calendar-check-o"></i> Pendientes <span class="badge badge-pill badge-danger">3</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index", "Processes")" role="tab"><i class="fa fa-edit"></i> En Progreso <span class="badge badge-pill badge-danger">5</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index", "Processes")" role="tab"><i class="fa fa-close"></i> Archivo <span class="badge badge-pill badge-danger">2</span></a>
    </li>
</ul>

<div class="container">
    <div class="tab-content">
        <div role="tabpanel">

            <h1 class="card-title pt-5 font-bold"><strong>Reporte de admisibilidad </strong><img src="~/Content/img/flags/AR.gif" style="border-radius: 0 0 0 0;" /></h1> @* @Model.Category.Name   flex-center*@

            <!-- Vote Now -->
            <div class="white z-depth-2 mb-4">
                <div class="card">
                    <div class="card-body">

                        <blockquote class="blockquote bq-primary">
                            @*<p class="bq-title">Comentario</p>*@
                            <p class="mb-0 card-text">Estimadxs Comisionadxs, por favor encuentren abajo propuesta de comunicado de prensa para evaluación y aprobación.</p>
                        </blockquote>

                        <div class="row pb-2">
                            <div class="col-6">
                                @*Category<br />*@
                                Mujeres<br />
                                PC-111 / MC-111 <br />
                            </div>
                            <div class="col-6">
                                <img src="~/Content/img/flags/CB.gif" style="border-radius: 0 0 0 0;" /> País 1<br />
                                <img src="~/Content/img/flags/NI.gif" style="border-radius: 0 0 0 0;"/> País 2<br />
                                <img src="~/Content/img/flags/GR.gif" style="border-radius: 0 0 0 0;"/> País 3<br />
                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col">
                                <h4 class="flex-center"><strong>Votar</strong></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="pull-right">
                                    <a class="btn-floating btn-lg blue-gradient"><i class="fa fa-check"></i></a>
                                    <br />
                                    <strong>Aprobar</strong>
                                </div>
                            </div>
                            <div class="col">
                                <div class="pull-left">
                                    <a class="btn-floating btn-lg purple-gradient"><i class="fa fa-close"></i></a>
                                    <br/>
                                    <strong>Denegar</strong>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-4">
                            <div class="col">
                                @*<div class="input-group my-4">
                                    <img src="~/Content/img/comm1.png" alt="user" class="img-fluid avatar rounded-circle z-depth-2" style="max-width: 100px;">
                                    &nbsp;&nbsp;
                                    <input type="text" class="form-control" placeholder="Add comment...">
                                </div>*@
                                <div class="mt-1 grey lighten-4">
                                    <!--Add comment-->
                                    <div class="md-form mt-1 mb-1">
                                        <textarea type="text" id="form7" class="md-textarea" style="width:100%"></textarea>
                                        <label for="form7" class="p-2">Dejar un comentario...</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-primary pull-right" type="button"><i class="fa fa-lg fa-check"></i> Enviar</button>

                    </div>
                </div>
                
            </div>
                    
        </div>
    </div>
</div>
