@{
    ViewBag.Title = "Home";
}

@Html.Partial("_MainMenu")



<hr/>
<div class="container">
    <div class="col-md-12 p-2">
        <h1>Activity Feed</h1>
    </div>

    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <span class="badge badge-pill pink pull-lefts">New process</span>
                <span class="badge badge-primary pull-right">Vote until 01/01/2018</span>
                <a href="#"><h4 class="card-title">Name of new voting process</h4></a>
                <p class="card-text">This is a comment that was added when creating a new voting process.</p>
                <div class="row pb-2">
                    <div class="col-6">
                        PC/MC<br/>
                        Category<br />
                        Tema / Relatoria
                    </div>
                    <div class="col-6">
                        <i class="fa fa-lg fa-flag"></i> Country 1<br />
                        <i class="fa fa-lg fa-flag-o"></i> Country 2<br />
                        <i class="fa fa-lg fa-flag-checkered"></i> Country 3<br />
                    </div>
                </div>

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Add comment...">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button"><i class="fa fa-lg fa-plus-square"></i></button>
                    </span>
                </div>
            </div>
        </div>
        <br/>
    </div>
</div>